.app {
    @apply bg-sky-50 w-full h-screen 
    flex flex-col items-center;

    .cities {
        @apply md:m-10 m-4;

        .city {
            @apply uppercase md:text-3xl text-xs 
            font-extralight md:m-10 m-2 cursor-pointer;

            &.active {
                @apply font-medium text-sky-400 
                ease-out duration-300;
            }
        }
    }

    .forecast {
        @apply overflow-auto border-4 border-white 
        rounded-xl flex flex-col w-3/6 h-4/6 shadow-2xl;

        .today {
            @apply flex flex-col justify-center items-center
            md:text-4xl text-xl font-thin
            w-full md:h-3/5 h-44
            ease-out duration-300
            border-b-4 border-white;

            .day {
                @apply md:m-4;
            }

            .details {
                @apply flex md:flex-row flex-col 
                justify-center items-center;

                .icon {
                    @apply md:text-8xl text-4xl 
                    text-cyan-900 md:m-4 my-2;
                }

                .weather {
                    @apply flex flex-col justify-center 
                    items-center md:my-4 md:mr-4;

                    .temperature {
                        @apply font-mono font-medium 
                        md:text-5xl text-2xl
                        md:m-4 my-2;
                    }

                    .description {
                        @apply md:text-2xl text-sm text-center 
                        font-thin capitalize md:m-4 m-2;
                    }
                }
            }
        }

        .upcoming {
            @apply flex md:flex-row flex-col;
            @apply w-full h-2/5;

            .card {
                @apply flex flex-col justify-center items-center
                md:h-auto md:w-1/4 w-full h-44;

                &:not(:last-child) {
                    @apply md:border-r-4 md:border-b-0 border-b-4 border-white;
                }

                .day {
                    @apply my-3 font-thin text-xl;
                }
                .icon {
                    @apply my-3 text-5xl text-cyan-900;
                }
                .temperature {
                    @apply my-3 font-mono text-2xl font-medium;
                }
            }
        }
    }

    .loader {
        @apply border-t-2 border-r-2 border-sky-500 
        rounded-full h-10 w-10 animate-spin m-auto;
    }
}
